#testareaIndex .column div{
    align-items: center;
    align-content: center;
    text-align: center;
    color: red;
    width: 40px;
}

.column div {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 40px;
    background-color: aqua;
 }
.testClass {
    color: green;
    align-items: center;
    align-content: center;
    text-align: center;
}

.row .column {
    padding: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
}

div.column {
    color: red;
    padding: 0px;
}
