#testareaIndex .column div{
    align-items: center;
    align-content: center;
    text-align: center;
    color: red;
    width: 40px;
}

.testClass {
    color: green;
    align-items: center;
    align-content: center;
    text-align: center;
}

.row .column {
    padding: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
}

div.column {
    padding: 0px;
    font-size: 28px;
}
